<style>
    body{
        font-family: "Open Sans";
    }
    a{
        color: black;
        font-size: 27px;
    }
</style>

<link rel="stylesheet" href="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/css/bootstrap-select-country.min.css" />



<h2>Mojang yggdrasil server [fastapi]</h2>
<h2>Sign Up</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <select class="selectpicker countrypicker" data-flag="true" name="country"></select>
    <button type="submit">Create</button>
</form>
<br>
<h2>Delete player account</h2>
<form action="/signdown" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Delete</button>
</form>
<br>
<h2>Find user profile</h2>
<form action="/player" method="get">
    <input type="text" name="username" placeholder="username">    
    <button type="submit">Show</button>
</form>
<br>
<h2>Ban / unban user (admin only)</h2>
<form action="/ban" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="admin_password" placeholder="admin password">
    <button type="submit">Ban / Unban</button>
</form>
<br>
<a href="/players">players list</a>

<script src="//cdn.tutorialjinni.com/jquery/3.6.1/jquery.min.js"></script>
<script src="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/js/bootstrap-select-country.min.js"></script>